table,tr,td{
  border: 2px  solid #000;
border-collapse: collapse;
margine: 3px;
}
.main{
  width:100%;
  background-color: #666;
  display:flex;
flex-wrap: wrap;
}
.left{
  text-align: justify;
  background-color: silver;
  border:5px solid purple;
  margin:5px;
  padding: 3px;
  flex:2;
}
.right{
  text-align:justify;
  padding: 3px;
  flex:2;
  background-color: teal;
  border:5px solid purple;
  margin:5px
}
#name{
  color: green;
}
.left img{
  border-radius: 50px;
  border:5px solid purple;
}
@media only screen and (min-width:784px) and (max-width:1280px){
  .main{
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .left{
    background-color: #888;
    flex:2;
  }
  .right{
    background-color: #c45e45;
    flex:2;
  }
  }
@media only screen and (min-width:1024px) and (max-width:1280px){
  .main{
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }
  .left{
    background-color: green;
    flex:2;
  }
  .right{
    background-color: #fff;
    flex:2;
}
}
@media only screen and (min-width:480px) and (max-width:768px){
  .main{
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }
  .left{
    background-color: #pink;
    flex:2;
  }
  .right{
    background-color: cadetblue;
    flex:2;
}
}
@media only screen and (min-width:1280px) {
  .main{
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }
  .left{
    background-color: aquamarine;
    flex:2;
  }
  .right{
    background-color: purple;
    flex:2;
  }
}
}
